.navbar-fixed {
	margin-bottom: 1.2%;
}


.content_card{
  position:relative;
}

.content_card.animate{
  transition:all 300ms 0ms ease-in;
}

body {
	background-color: #eeeeee
}

h4, b, h5 {
	color: #546e7a
}

#create_beer_button {
	background-color: #546e7a
}


#delete_beer, #enter_edit_beer, #all_beer_reviews, #review_beer {
	color: #546e7a
}