.navbar-fixed {
	margin-bottom: 1.2%;
}


.content_card{
  position:relative;
}

.content_card.animate{
  transition:all 300ms 0ms ease-in;
}

body {
	background-color: #eceff1
}

h4, b, h5 {
	color: #546e7a
}

.create_big_button {
	background-color: #546e7a
}


#delete_beer, #enter_edit_beer, #all_beer_reviews, #review_beer {
	color: #546e7a
}

.plus_icon {
	color: #fafafa;
}

.sort_buttons { 
	vertical-align: bottom;
}

.filter_dropdown {
	margin-top: 2%;

}

.filter_button {
	background-color: #fafafa;
}

.beer_card {
	color: #fafafa;
}

.header_text {
	color: #fafafa;
}

.brewery_card {
	background-color: #fafafa;
}

.list_title {
	color: #263238
}

.card-content {
	color: #263238;
}











