<template name="addBreweryCard">
	<form class="col s12" name="add_brewery_form">
      <div class="card blue-grey darken-1">
        <div class="col s12 card-content grey-text text-lighten-5">
        <h6 class="col s12">Add Brewery</h6>
        <div class="input-field col s12">
          <label for="brewery_name">Brewery Name</label>
          <input id="brewery_name" type="text" class="validate" style="text-transform: capitalize">
        </div>

        <div class="input-field col s6">
          <label for="city">City</label>
          <input id="city" type="text" class="validate" style="text-transform: capitalize">
        </div>

        <div class="input-field col s6">
          <label for="state">State</label>
          <input id="state" type="text" class="validate" style="text-transform: uppercase">
        </div>
        <div class="col s12">
        <input type="submit" value="Submit" class="btn blue-grey darken-4 btn-primary create_and_edit_form_button "/>
        <a class="waves-effect waves-light btn blue-grey darken-4" id="cancel_add_brewery">Cancel</a>
        </div>
        </div>
      </div>
    </form>
</template>

