<template name="allBreweryBeers">


  <!-- Modal Structure -->
<!--  -->
    {{>addBeerCard}}
  
          
  <div class="row">
    <div class="col s8 m9 l9"><h4>Full List of Beers for {{brewery_name}}</h4></div>
    <div class="col s4 m3 l3">
      <a class="waves-effect waves-light btn edit grey-text text-lighten-5 blue-grey darken-4 modal-trigger float_right_buttons" href="#modal1" id="add_bb">Add Beer</a>
      </div>
  </div>
	   <table class="bordered">
        <thead>
          <tr>
              <th data-field="beer_name">Beer Name</th>

              <th data-field="type_of_beer">Type of Beer</th>
              <th data-field="average_score">Average Score</th>

          </tr>
        </thead>

        <tbody>
        	{{#each beers}}
        		{{>beerPartial}}
        	{{/each}}
        </tbody>
      </table>


</template>