<template name="allBreweryBeers">

    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->
<!--  -->
    {{>addBeerCard}}
  
          
  <div class="row">
    <div class="col s12"><h4>Full List of Beers for {{brewery_name}}</h4></div>
  </div>
	   <table>

        <thead>
          <tr>
              <th data-field="beer_name">Beer Name</th>

              <th data-field="type_of_beer">Type of Beer</th>
              <th data-field="abv">ABV</th>
              <th data-field="average_score">Average Score</th>

          </tr>
        </thead>

        <tbody>
        	{{#each beers}}
        		{{>beerPartial}}
        	{{/each}}
        </tbody>
      </table>


</template>