<template name="breweryCard">

	    <div class="col s12">
          <div class="card blue-grey lighten-3">
            <div class="card-content blue-grey-text text-darken-4">
              <span class="card-title blue-grey-text text-darken-4">{{breweryName}}</span>
              <div class="divider"></div>
                <div class="section">
                <li>City: {{city}},</li>
                <li>State {{state}}</li>
     
              </div>
            </div>
<!--             <div class="card-action blue-grey lighten-3">
                <a href="{{pathFor 'breweryPage'}}" class="blue-grey-text text-darken-4">More Info</a>
               <a href="{{pathFor 'beersList'}}">Beer List</a>
              {{#if ownSubmission}}<a class="waves-effect waves-light btn edit blue-grey-text text-darken-4" name="enter_edit">Edit</a>{{/if}}
  
            </div> -->
          </div>
        </div>

</template>