<template name="breweryCard">
    {{#if editingABrewery}}
        {{> editBreweryCard}}
    {{else}}
	    <div class="col s12">
          <div class="card blue-grey lighten-3">
            <div class="card-content blue-grey-text text-darken-4">
              <span class="card-title blue-grey-text text-darken-4">{{brewery_name}}</span>
              <div class="divider"></div>
                <div class="section">
                <li>City: {{city}},</li>
                <li>State {{state}}</li>
     
              </div>
            </div>
            <div class="card-action blue-grey lighten-3">
                <a href="" class="blue-grey-text text-darken-4">More Info</a>
<!--                <a href="{{pathFor 'beersList'}}">Beer List</a> -->
              {{#if ownBrewery}}<a class="waves-effect waves-light btn edit blue-grey-text text-darken-4" id="enter_edit_brewery">Edit</a>
              <a class="waves-effect waves-light btn red text-darken" id="delete_brewery">Delete</a>
              {{/if}}
  
            </div>
          </div>
        </div>
    {{/if}}

</template>