<template name="breweryCard">
    {{#if editingABrewery}}
        {{> editBreweryCard}}
    {{else}}
	    <div class="col s12 content_card">
          <div class="card brewery_card">
            <div class="card-content">
              <span class="card-title"><h5>{{brewery_name}}</h5></span>
                <div class="section">
                <p class="blue-grey-text text-darken-1">
                  {{city}}, {{state}}
                </p>
     
              </div>
            </div>
            <div class="card-action">
                <a href="#" class="blue-grey-text text-darken-4">More Info</a>
                <a href="{{pathFor 'allBreweryBeers'}}" class="list_title blue-grey-text text-darken-4">Brewery Beer List</a>
<!--                <a href="{{pathFor 'beersList'}}">Beer List</a> -->
              {{#if ownBrewery}}<a class="waves-effect waves-light btn edit grey-text text-lighten-5 blue-grey darken-4" id="enter_edit_brewery">Edit</a>
              {{/if}}
  
            </div>
          </div>
        </div>
    {{/if}}

</template>