<template name="defaultBreweriesList">
	<div class="breweries">
	<div class="row">

		{{#if addingABrewery}}
			{{> addBreweryCard}}

		{{else}}
		 {{#if currentUser}}
		 <div class="col s12">
          <div class="card create_big_button col s12 hoverable create_big_button grey-text text-lighten-5 waves-effect waves-light ">
            <div class="card-content grey-text text-lighten-5" id="create_brewery">
              <span class="card-title grey-text text-lighten-5">Add Brewery</span>
                 <ul class="right">
        			<li><a href="#"><i class="material-icons plus_icon">add</i></a></li>
      			</ul>
            </div>
          </div>
        </div>
        {{/if}}
        {{/if}}

        <div class="row">
			<div class="col s12">
				<div class="col s6 m8">
					<h4 class="list_title">Brewery List</h4>
				</div>
    <div class="col s6 m4 right brewery_sort_tab ">
      <ul class="tabs blue-grey lighten-5">
        <li class="tab col s2 m6"><a class="" href="#" id="brewery_sort_alpha">A-Z</a></li>
  		<li class="tab col s10 m6 custom_tabs"><a href="#" class="custom_tabs {{breweryHeaderAfterSubmit}}" id="brewery_sort_submitted">New</a></li>
      </ul>
  </div>
			</div>
		</div>
	<div class="wrapper">
		{{#each breweries}}
			{{> breweryCard}}
		{{/each}}
	</div>
	</div>
	    </div>
</template>