<template name="beerReviewLi">
		<div class="section">
			<div class="col s6">
				<p>
					<h5>{{beer_review_title}}</h5>
				<b>by</b> {{author}}<br>
				<b>Date Reviewed:</b> {{cleanDate}}<br>
				</p>
			</div>
			<div class="col s6">
				<p>
					<b>Overall Score:</b> {{rating}}<br>
					<b>Aroma:</b> <br>
					<b>Appearance:</b> <br>
					<b>Taste:</b> <br>

				</p>
			</div>
			<div class="col s12">
				<p>
					{{body}}
				</p>
			</div>
		</div>
				<div class="divider col s12"></div>
</template>