<template name="beerReviewLi">

			<div class="col s12">
			<h5>{{beer_review_title}}</h5>
			</div>
	
			<div class="col s6">
				<p>
				<b>by</b> {{author}}<br>
				<b>Date Reviewed:</b> {{cleanDate}}<br>
				</p>
			</div>
			<div class="col s6">
				<p>
					<b>Overall Score:</b> {{rating}}<br>
					<b>Aroma:</b> {{aroma}} <br>
					<b>Appearance:</b> {{appearance}} <br>
					<b>Taste:</b> {{taste}}<br>

				</p>
			</div>

			<div class="col s12">
				<p>
					{{body}}
				</p>
			</div>
			<div class="divider col s12"></div>


</template>