<template name="beerCard">
    {{#if editingABeer}}
      {{> editBeerCard}}
    {{else}}


	    <div class="col s6 ">
          <div class="card beer_card">
            <div class="card-content">
              <span class="card-title"><h5>{{beer_name}}</h5></span>
                <div class="section">
                <p>
                  <b>Brewery:</b> {{breweryName}}<br>
                  <b>Type of Beer:</b> {{type_of_beer}}<br>
                  <b>ABV:</b> {{abv}}<br>
                  <b>Year Introducted:</b> {{year_introduced}}<br>
                  <b>Number of Reviews:</b> {{beerReviewCount}}<br>
                  <b>Average Review Score:</b> {{averageReviewScore}}
                </p>
              </div>
            </div>
            <div class="card-action">
              <a href="{{pathFor 'allBeerReviews'}}" id="all_beer_reviews" class="waves-effect btn-flat">All Reviews</a>

              {{#if currentUser}}<a href="{{pathFor 'beerReviewCard'}}" id="review_beer" class="waves-effect waves-light btn blue-grey darken-1 co">Add Review</a>{{/if}}
              {{#if ownBeer}}<a href="#" id="enter_edit_beer" class="waves-effect waves-light btn blue-grey darken-1 col l2 m2 s1">Edit</a>
              <a href="#" class="waves-effect waves-light btn red accent-4 co" id="delete_beer">Delete</a>{{/if}}
            </div>

          </div>
        </div>
      {{/if}}

</template>