<template name="beerCard">
    {{#if editingABeer}}
      {{> editBeerCard}}
    {{else}}


	    <div class="col s12 content_card">
          <div class="card beer_card">
            <div class="card-content">
              <span class="card-title"><h5>{{beer_name}}</h5></span>
                <div class="section">
                <p class="blue-grey-text text-darken-1">
                  <b>Brewery:</b> {{breweryName}}<br>
                  <b>Type of Beer:</b> {{type_of_beer}}<br>
                  <b>ABV:</b> {{abv}}<br>
                  <b>Year Introducted:</b> {{year_introduced}}<br>
                  <b>Number of Reviews:</b> {{beerReviewCount}}<br>
                  <b>Average Review Score:</b> {{averageReviewScore}}<br>
                  {{_id}}
                </p>
              </div>
            </div>
            <div class="card-action">
                <a href="{{pathFor 'allBeerReviews'}}" id="all_beer_reviews" class="list_title blue-grey-text text-darken-4">All Reviews</a>
                {{#if ownBeer}}<a class="waves-effect waves-light btn edit grey-text text-lighten-5 blue-grey darken-4" id="enter_edit_beer">Edit Beer</a>{{/if}}
                {{#if currentUser}}<a href="{{pathFor 'beerReviewCard'}}" class="waves-effect waves-light btn edit grey-text text-lighten-5 blue-grey darken-4" >Review Beer</a>{{/if}}
  
            </div>
          </div>
        </div>
      {{/if}}

</template>