<template name="beerCard">
    {{#if editingABeer}}
      {{> editBeerCard}}
    {{else}}


	    <div class="col s12 m12 l6 content_card">
          <div class="card beer_card">
            <div class="card-content">
              <span class="card-title"><h5>{{beer_name}}</h5></span>
                <div class="section">
                <p class="blue-grey-text text-darken-1">
                  <b>Brewery:</b> {{breweryName}}<br>
                  <b>Type of Beer:</b> {{type_of_beer}}<br>
                  <b>ABV:</b> {{abv}}<br>
                  <b>Year Introducted:</b> {{year_introduced}}<br>
                  <b>Average Review Score:</b> {{averageReviewScore}}<br>
                  {{_id}}
                </p>
              </div>
            </div>
            <div class="card-action col s12">
                <a href="{{pathFor 'allBeerReviews'}}" id="all_beer_reviews" class="list_title blue-grey-text text-darken-4">Reviews ({{beerReviewCount}})</a>
                {{#if currentUser}}<a href="{{pathFor 'beerReviewCard'}}" class="blue-grey-text text-darken-4 float_right_buttons" id="add_review">Add Review</a>{{/if}}
                {{#if ownBeer}}<a class="blue-grey-text text-darken-4 float_right_buttons" id="enter_edit_beer">Edit</a>{{/if}}
            
  
            </div>
          </div>
        </div>
      {{/if}}

</template>