<template name="defaultBeersList">
	<div class="beers">
	<div class="row">
		{{#if addingABeer}}
			{{> addBeerCard}}

		{{else}}

		 {{#if currentUser}}<div class="col s12 waves-effect waves-light">
          <div class="card light-blue darken-3 waves-effect col s12 ">
            <div class="card-content white-text" id="create_beer">
              <span class="card-title">Add Beer</span>
            </div>
          </div>
        </div>{{/if}}

		{{/if}}
		{{#each beers}}
			{{> beerCard}}
		{{/each}}
	</div>
	</div>

</template>