<template name="defaultBeersList">
	<div class="beers">
	<div class="row">
		{{#if addingABeer}}
			{{> addBeerCard}}

		{{else}}

		 {{#if currentUser}}<div class="col s12 waves-effect waves-light">
          <div class="card waves-effect col s12 hoverable create_big_button" id="create_beer_button">
            <div class="card-content white-text" id="create_beer">
              <span class="card-title">Add Beer</span>
              	<ul class="right">
        			<li><a href="sass.html"><i class="material-icons plus_icon">add</i></a></li>
      			</ul>
            </div>
          </div>
        </div>{{/if}}

		{{/if}}

		{{#each beers}}
			{{> beerCard}}
		{{/each}}
	</div>
	</div>

</template>