<template name="defaultBeersList">
	<div class="beers">
	<div class="row">
		{{#if addingABeer}}
			{{> addBeerCard}}

		{{else}}

		 {{#if currentUser}}<div class="col s12 waves-effect waves-light">
          <div class="card waves-effect col s12 hoverable create_big_button" id="create_beer_button">
            <div class="card-content white-text" id="create_beer">
              <span class="card-title">Add Beer</span>
              	<ul class="right">
        			<li><a href="sass.html"><i class="material-icons plus_icon">add</i></a></li>
      			</ul>
            </div>
          </div>
        </div>{{/if}}{{/if}}

        <div class="row">
			<div class="col s12">
				<div class="col s7">
					<h4 class="list_title">Beer List</h4>
				</div>
    <div class="col s5 right beer_sort_tab ">
      <ul class="tabs z-depth-1">
        <li class="tab col s3"><a class="active" href="#" id="beer_sort_alpha">A-Z</a></li>
  		<li class="tab col s3 custom_tabs"><a href="#" class="custom_tabs" id="beer_sort_submitted">Submitted</a></li>
      </ul>
  </div>
			</div>
		</div>


		{{#each beers}}
			{{> beerCard}}
		{{/each}}
	</div>
	</div>

</template>