<template name="header">

<div class="navbar-fixed">

<nav class="top-nav blue-grey darken-4 z-depth-2">
  <div class="nav-wrapper container">
    <div class="row">
    <a href="#!" class="brand-logo center hide-on-med-and-down">Chippy Brew</a>
    <ul class="left">
  		<li>{{> loginButtons}}</li>
  	</ul>
  	<div class="col s6 m4 right beer_sort_tab ">
  
       <ul class="tabs top-nav blue-grey darken-4 grey-text text-lighten-5">
        <li class="tab col s3 m2"><a class="{{beer_active_header}} grey-text text-lighten-5" href="#" id="beer_header_toggle">Beers</a></li>
  		<li class="tab col s3 m2 custom_tabs"><a href="#" id="brewery_header_toggle" class="{{brewery_active_header}} grey-text text-lighten-5">Breweries</a></li>
      </ul>

 	</div>
 	</div>
  </div>
 


</nav>
        

</div>


 
</template>