<template name="header">
	<div class="navbar-fixed">
<nav class="top-nav blue-grey darken-4 z-depth-2">
	<div class="nav-wrapper container">

		<a href="{{pathFor 'home'}}" class="brand-logo right header_text grey-text text-lighten-5" id="chippy_brew">Chippy Brew</a>
	<a href="#" class="button-collapse"><i class="material-icons header_text">menu</i></a>
      <ul class="left hide-on-med-and-down">
			<li id="beer_selector"><a href="{{pathFor 'defaultBeersList'}}" class="header_text">Beers</a></li>
		     <li id="brewery_selector" class="active header_text"><a href="{{pathFor 'home'}}">Breweries</a></li>
		<li>{{> loginButtons}}</li>
	</ul>
	    <ul class="side-nav" id="mobile-demo">
        <li><a class="header_text" href="sass.html">Sass</a></li>
        <li><a class="header_text" href="badges.html">Components</a></li>
        <li><a class="header_text" href="collapsible.html">Javascript</a></li>
        <li><a class="header_text" href="mobile.html">Mobile</a></li>
        <li>{{> loginButtons}}</li>
      </ul>


	</div>


</nav>

</div>

 
</template>