<template name="header">
	<div class="navbar-fixed">
<nav class="top-nav blue-grey darken-4 z-depth-2">
	<div class="nav-wrapper container">

		<a href="{{pathFor 'home'}}" class="brand-logo" id="chippy_brew">Chippy Brew</a>
	<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
			<li id="beer_selector"><a href="{{pathFor 'defaultBeersList'}}">Beers</a></li>
		     <li id="brewery_selector" class="active"><a href="{{pathFor 'home'}}">Breweries</a></li>
		<li>{{> loginButtons}}</li>
	</ul>
	    <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
        <li>{{> loginButtons}}</li>
      </ul>


	</div>


</nav>

</div>

 
</template>